.mobile-nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.mobile-nav-header {
    height: 50px;
    width: 100%;
    background-color: #001F3F;
}

.mobile-nav-header .mobile-nav-icon {
    color: white;
    cursor: pointer;
}

.mobile-nav-title {
    margin-left: 20px;
    color: #F5F5DC;
    font-weight: bold;
    text-transform: capitalize;
    vertical-align: middle
}

.mobile-nav-menu .navbar-items {
    height: 100vh;
    width: 100vw;
    background-color: #143b63;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    text-align: center;
    justify-content: center;
}



@media(min-width:600px) {
    .mobile-nav {
        display: none;
    }
}

@media(max-width:600px){
    .navbar-item div{
        margin-bottom: 4rem;
    }
}